  {%extends "Access/base.html"%}

  {%load static %}

  {%block content%}
  <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Access/img/principal.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper"></span>
            <span class="section-heading-lower">Qué es Iot</span>
          </h2>
          <p> La agrupación e interconexión de dispositivos y objetos a través de una red 
            (bien sea privada o Internet, la red de redes), dónde todos ellos podrían ser visibles e 
            interaccionar. Respecto al tipo de objetos o dispositivos podrían ser cualquiera, 
            desde sensores y dispositivos mecánicos hasta objetos cotidianos como pueden ser el frigorífico, el calzado o la ropa..
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Sabías?</span>
                <span class="section-heading-lower">Impulso de IoT del 1.0 al 2.0</span>
              </h2>
              <p >La nueva generación de internet de las cosas, impulsada por Wifi 6 y el 5G, permitirá conectar 25 000 millones de dispositivos.
                <br>
                Con la introducción de avances tecnológicos como Wifi 6, 5G o el Narrow Band IoT, el panorama de los dispositivos conectados cambiará. Se evolucionará desde la actual generación de IoT a un IoT 2.0 durante 2021.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {%endblock%}