{%extends "Access/base.html"%}

{%load static %}

{%block content%}
  

   <span style="color: red"> <h1> <center>  Registro </center></h1></span> 
  <form method="POST" class="post-form" action="/registro">  
              {% csrf_token %} 
               
    <div class="container_register"> 
 
        
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Codigo</label>  
          <div class="col-sm-4">  
            {{ form.uid }}  
          </div>
      </div>  

      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Name:</label>  
          <div class="col-sm-4">  
            {{ form.uname }}  
          </div>  
      </div> 

      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Correo:</label>  
          <div class="col-sm-4">  
            {{ form.uemail }}  
          </div>  
      </div>  

      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Contraseña:</label>  
          <div class="col-sm-4">  
            {{ form.upass }}  
          </div>  
      </div>  

      <div class="form-group row">  
        <label class="col-sm-1 col-form-label"></label>  
          <div class="col-sm-4">  
            <button type="submit" class="btn btn-primary">Registrar</button>  
          </div>  
      </div>  


    </div>  


  </form>  
  {%endblock%}